.note-container
  margin-left: 400px
  width: 100%

.note-body
  padding: 30px
  // background-color: #133

.note-editor
  background-color: #133
  height: 100%
  &__area
    width: 100%
    height: 500px
    padding: 10px

    background-color: #133
    color: white

.note-header
  display: flex
  justify-content: space-between
  padding: 5px
  background-color: #333
  &__left
    display: flex
    justify-content: center
    align-items: center
  &__right
    display: flex
    justify-content: center
    align-items: center
    button

  &__icon
    width: 35px
    margin-right: 10px
  &__title
  &__time
    margin-right: 20px
