.note-container
  margin-left: 400px
  width: 100%

.note-body
  padding: 30px
  // background-color: #133

.note-editor
  // background-color: #133
  height: 100%
  display: block
  margin: 20px
  &__area
    display: block
    width: 98%
    height: 400px
    padding: 10px
    border: 1px solid gray
    border-radius: 6px
    outline: none
    background-color: transparent
    color: white
    transition: none
    &:focus
      border: 1px solid #0066ff5f
      box-shadow: 0px 0px 5px 1px #0066ff5f
  &__label
    display: block
    padding: 3px 6px
    border: 1px solid gray
    border-radius: 6px
    outline: none
    background-color: transparent
    color: white
    transition: none
    &:focus
      border: 1px solid #0066ff5f
      box-shadow: 0px 0px 5px 1px #0066ff5f
.note-header
  display: flex
  justify-content: space-between
  padding: 5px
  background-color: #333
  &__left
    display: flex
    justify-content: center
    align-items: center
  &__right
    display: flex
    justify-content: center
    align-items: center
    button

  &__icon
    width: 35px
    margin-right: 10px
  &__title
  &__time
    margin-right: 20px
