@import '../../main.sass'
    
.item-desc
    max-height: 0
    overflow: hidden
    transition: all 0.3s cubic-bezier(0,1,0,1)
    &.item-desc-show
        height: auto
        max-height: 9999px
        transition: all 0.3s cubic-bezier(1,0,1,0)

.item-desc-wrapper
    display: block
    margin: 20px 5px 0px 5px

.item-desc-body
    padding: 5px 0

.item-progress
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.item-title-container
    display: flex
    align-items: center

.item-title
    width: 90%
    word-wrap: break-word
    p
        margin: 0
// hover border #8b949e
// hover bgc #30363d

.item-wrapper
    margin-bottom: 10px
    padding: 10px
    background-color: $main-bg-color //ready 
    border: 1px solid $main-border-color
    border-radius: 5px
    transition: all 0.12s ease-in-out

.progress
    height: 8px
    width: 100%
    margin-bottom: 5px
    background-color: rgba(110,118,129,0.4)
    


.delete-button
    display: flex
    justify-content: end
    align-items: center


.bi
    width: 100%
    height: 100%
    fill: #cacaca

.btn-icon
    display: flex
    justify-content: center
    align-items: center
    flex-shrink: 0
    padding: 8px
    width: 35px
    height: 35px

.btn-icon-outline
    display: flex
    justify-content: center
    align-items: center
    flex-shrink: 0
    padding: 8px 8px 6px 8px
    width: 35px
    height: 35px
    margin-right: 10px
    background-color: #21262d
    border: 1px solid rgba(240,246,252,0.1)
    border-radius: 6px
    &:hover
        background-color: $main-border-color
        border: 1px solid #8b949e
        cursor: pointer

