.planner-list
    // transition: all 0.5s ease-in-out






.wr
    display: flex
    justify-content: center
    align-items: center


.accord
    width: 500px

.item-desc 
    &.item-desc-show
        height: auto
        max-height: 9999px
        transition: all 0.3s cubic-bezier(1,0,1,0)

.item-desc
    
    max-height: 0
    overflow: hidden
    transition: all 0.3s cubic-bezier(0,1,0,1)

    

.item-desc-container
    display: flex
    justify-content: space-between
    margin: 20px 5px 10px 5px



.item-title-container
    display: flex
    align-items: center
    width: 40%
    &:hover
        background-color: rgba(255, 255, 255, 0.065)
        border-radius: 5px
        cursor: pointer


.item-wrapper
    margin-bottom: 10px
    padding: 10px 15px 10px 15px
    background-color: #0d1117
    border: 1px solid #30363d
    border-radius: 5px

.item
    display: flex
    width: 100%
    justify-content: space-between
    align-items: center   


    
// .active
//     color: red

.item-progress
    width: 20%
    height: 20px

.item-deadline
    text-align: center
    margin: 0px 15px
    
.delete-button
    white-space: nowrap
    
.spinner-border
    margin-right: 7px
    
    
.arrow
    display: block
    flex-shrink: 0
    width: 20px
    height: 20px
    margin-right: 10px
    transition: background-color 0.08s ease-in-out
    &::before
        content: ''
        display: block
        background-color: white
        width: 1px
        height: 13px
        transform: translateX(14px) translateY(5px) rotate(45deg)
    &::after
        content: ''
        display: block
        background-color: white
        width: 1px
        height: 13px
        transform: translateX(5px) translateY(-8px) rotate(-45deg)
    