.item
    display: flex
    justify-content: space-between
    align-items: center
    margin: 10px
    padding: 10px 15px
    border-radius: 5px
    border: 1px solid #30363d
    background-color: #0d1117
.active
    color: red
.item-title
    display: flex
    align-items: center
    width: 40%

.item-progress
    width: 20%
    height: 20px

.item-deadline
    text-align: center
    margin: 0px 15px
    
.delete-button
    white-space: nowrap
    
.spinner-border
    margin-right: 7px
    